.popup{
  position: fixed;
  bottom: 10px;
  min-width: 250px;
  background: #343a40;
  color: rgba(255,255,255,.8);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #007bff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  z-index: 99;
}

.popup p{
  margin: 10px;
}
